body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #loading {
    font-size: 2em;
  }
  